// Ciclo Actual 
.cicloactual__link {
    img {
        margin-top: 15px;
        @include border;
        text-align: center;
        &:hover {
            box-shadow: 10px 5px 5px black;
        }
    }
}
.cicloactual__titulo { 
    grid-area: titulo; 
    justify-self: left;
    text-shadow: 0 0 2px black;
}
.cicloactual__imperdibles {
    img {
    margin: 10px;
    @include border;
    }
}
