// Contacto
.contacto__intro {
    font-size: map-get($map: $mapfs, $key: medium2);
}
.contacto__formulario {
    background-color: $colortransparent;
    border: $colortransparent solid 2px;
    border-radius: 20px;
    margin: 30px 0;
}
.button {
    border:$colorppal solid 2px;
    background-color: $colorppal;
    &:hover {
        font-weight: bold;
        font-size: map-get($map: $mapfs, $key: small1);
        @include border;
        background-color: $colorppal;
    }
}
