// Head
.head {
    background: rgba(0, 0, 0, 0.12) url(../images/verde1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}
a {
    color: $colorppal;
    &:hover {
        color: $colorppal;
        font-style: italic;
    }
}
.head__nav ul  {
    font-size: map-get($map: $mapfs, $key: medium1);
    text-shadow: 0 0 1px black;
    justify-self: center; 
    li  {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 20px;
        font-weight: bold;
        margin: 15px 0;
    }
}
.head__fotoyo, .head__logonatura {
    width: 10vw;
}
@media only screen and (min-width:769px) and (max-width: 990px) {
    .head__fotoyo, .head__logonatura {
        width: 15vw;
    }
}
@media only screen and (max-width: 768px) {
    div.head__nav {
        ul {
        font-size: map-get($map: $mapfs, $key: small1);
        }
    }
    .head__fotoyo, .head__logonatura {
        width: 20vw;
    }
}