// Online
.online__introcasa {
    h1 {
        margin-bottom: 0ch;
        margin-top: 20px;
        padding-top: 20px;
        margin-left: 400px;
        text-shadow: 1px 1px 2px black;
    }
    p {
        margin: 20px;
        padding: 15px;
        border: outset 3px $colortransparent;
        border-radius: 20px;
    }
}
.online__introcupones {
    h3, p {
        margin-left: 25px;
    }
}
section.online__introcupones, section.online__linkexterno {
    @extend .causas__whycontent1;
    border-radius: 150px;
    margin: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        font-size: map-get($map: $mapfs, $key: big2);
    }
}
@media only screen and (max-width: 410px) {
    .online__introcasa {
        p {
        margin: 0;
        padding: 0;
        }
    }
}
    