// El header de Remate
.headerg {
    background: rgba(0, 0, 0, 0.12) url(../images/verde1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    height: 35vh;
    img {
        width: 10vw;
        margin: 1vw 5vw;
    }
}
.navppalg, .navg, .navrrssg {
    ul  {
        font-size: map-get($map: $mapfs, $key: medium1);
        text-shadow: 0 0 1px black;
        display: flex;
        li  {
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 20px;
            font-weight: bold;
            margin: 15px 0;
            list-style: none;
            padding: 10px;
        }
    }
    a {
        color: $colorppal;
        text-decoration: none;
        &:hover {
            color: $colorppal;
            font-style: italic;
        }
    }
}
// El footer de remate
.footg {
    height: max-content;
    background-image: url(../images/verde1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 15px;
        p {
            margin-right: 5px;
            color: white;
        }
}
.linkpronta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    ul {
        margin: 0;
        font-size: map-get($map: $mapfs, $key: medium2);
    }
}
.navrrssg {
    margin-right: 2vw;
    li {
        padding: 5px!important;
    }
}
.copyg {
    display: flex;
    justify-content: flex-end;
}
// Main de remate
.galeriag {
    display: grid;
    grid-template-areas: 
        "titulo titulo . ."
        "parrafo parrafo parrafo parrafo"
        "oferta1 oferta2 oferta3 oferta4"
        "oferta5 oferta6 oferta7 oferta8"
        "oferta9 oferta10 oferta11 oferta12"
        "oferta13 oferta14 oferta15 oferta16";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4% 6% 22% 22% 22% 22%;
}
.titulog {
    grid-area: titulo;
    margin-top: 10px;
}
.parrafog {
    grid-area: parrafo;
    align-content: center;
    margin: 20px 0;
    font-size: map-get($map: $mapfs, $key: medium1);
    font-weight: bold;
    text-align: center;
}
.oferta01 {
    grid-area: oferta1;
    text-align: center;
    background-color: $colormosttransparent;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    img {
        width: 17vw;
        box-shadow: 10px 5px 5px $colorppal;
        margin-top: 10px;
    }
    h5 {
        font-size: map-get($map: $mapfs, $key: small1);
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 10px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        margin: 5px;
    }
}
.oferta02 {
    @extend .oferta01;
    grid-area: oferta2;
}
.oferta03 {
    grid-area: oferta3;
    @extend .oferta01;
}
.oferta04 {
    grid-area: oferta4;
    @extend .oferta01;
}
.oferta05 {
    grid-area: oferta5;
    @extend .oferta01;
}
.oferta06 {
    grid-area: oferta6;
    @extend .oferta01;
}
.oferta07 {
    grid-area: oferta7;
    @extend .oferta01;
}
.oferta08 {
    grid-area: oferta8;
    @extend .oferta01;
}
.oferta09 {
    grid-area: oferta9;
    @extend .oferta01;
}
.oferta10 {
    grid-area: oferta10;
    @extend .oferta01;
}
.oferta11 {
    grid-area: oferta11;
    @extend .oferta01;
}
.oferta12 {
    grid-area: oferta12;
    @extend .oferta01;
}
.oferta13 {
    grid-area: oferta13;
    @extend .oferta01;
}
.oferta14 {
    grid-area: oferta14;
    @extend .oferta01;
}
.oferta15 {
    grid-area: oferta15;
    @extend .oferta01;
}
.oferta16 {
    grid-area: oferta16;
    @extend .oferta01;
}
@media only screen and (min-width:769px) and (max-width: 990px) {
    .galeriag {
        grid-template-areas: 
            "titulo titulo"
            "parrafo parrafo"
            "oferta1 oferta2"
            "oferta3 oferta4"
            "oferta5 oferta6"
            "oferta7 oferta8"
            "oferta9 oferta10"
            "oferta11 oferta12"
            "oferta13 oferta14" 
            "oferta15 oferta16";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 110px repeat(8, 350px);
    }
    .oferta01 {
        img {
            width: 25vw;
        }
    }
}
@media only screen and (max-width: 768px) {
    .galeriag {
        grid-template-areas: 
            "titulo"
            "parrafo"
            "oferta1"
            "oferta2"
            "oferta3"
            "oferta4"
            "oferta5"
            "oferta6"
            "oferta7" 
            "oferta8"
            "oferta9"
            "oferta10"
            "oferta11" 
            "oferta12"
            "oferta13"
            "oferta14" 
            "oferta15" 
            "oferta16";
        grid-template-columns: 1fr;
        grid-template-rows: 50px 150px repeat(16, 400px);
    }
    .oferta01 {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 35vw;
        }
    }
}
@media only screen and (max-width: 578px) {
    .headerg {
        img {
            width: 20vw;
        }
    }
    .navppalg, .navg, .navrrssg{
        ul  {
            font-size: map-get($map: $mapfs, $key: small1);
            display: inline-block;
        }
    }
    .galeriag {
        grid-template-rows: 50px 200px repeat(16, 350px);
    }
    .oferta01 {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        img {
            width: 38vw;
        }
    }
}
@media only screen and (max-width: 410px) {
    .titulog {
        font-size: map-get($map: $mapfs, $key: big2);
    }
    .parrafog {
        font-size: map-get($map: $mapfs, $key: medium2);
    }
    .galeriag {
        grid-template-rows: 50px 200px repeat(16, 300px);
    }
    .oferta01 {
        width: 200px;
    }
}