// Variables 
$colorppal: #F53D00;
$colortransparent: rgba(245, 61, 0, 0.5);
$colormosttransparent: rgba(245, 61, 0, 0.2);
// Map lo hago con fuentes porque solo tengo 1 color
$mapfs: ("big1": 48px, "big2": 32px, "medium1": 24px, "medium2": 18px, "small1": 16px, "small2": 12px);
// Mixin de border
@mixin border {
    border: 2px solid $colorppal;
    border-radius: 20px;
}