body {
    font-family: Calibri;
    user-select: none;
    width: 90vw;
    margin: 0 50px;
}
@media only screen and (min-width:769px) and (max-width: 990px) {
    body {
        width: 80vw;
    }
}
@media only screen and (max-width: 768px) {
    body {
        width: 75vw;
    }
}
// Root con variables
@import "root";
// Head y Foot
@import "head";
@import "foot";
// Pages y Home
@import "home";
@import "actualciclo";
@import "contacto";
@import "online";
@import "pronta";